@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: blue;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

/* En este bloque se asignan las caracteristicas esteticas al texto h1  */

h1{
    text-align: center;
    margin: auto;
    padding-bottom: 15px;
}

/* En este bloque se asignan las caracteristicas esteticas y de posicion al contenedor */

.Login_container{
    background-color: white;
    position: absolute;
    left: 50%; 
    top: 35%; 
    transform: translate(-50%, -35%); 
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 23%;
    height: 35%;
    padding: 25px 50px;
    margin: auto;
}

form{
    display: grid;
}

/* Aqui se asignan las caracteristicas esteticas a los inputs */

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

/* En este bloque se asignan las caracteristicas esteticas al texto acompañante de los inputs */

label[for='username'], label[for="password"] {
    font-weight: bold;
}

/* En este bloque se asignan las caracteristicas esteticas al boton de submit */

.Login_submit{
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    width: 100%;
    padding: 7px 0;
    margin-top: 10px;
}

.Login_psw{
    text-align: right;
    font-size: 14px;
    padding: 10px 0 20px;
}

.Login_link{
    text-decoration: none;
    font-weight: bold;
}

.Login_remember{
    margin: 12px 0;
}